<div class="card">
  <div class="img-container">
    {{!-- <h5>{{whiskyId}}</h5> --}}
    {{!-- <img class="card-img-top" src="http://localhost:3001/api/whiskeys/{{name}}" alt="Card image cap"> --}}
  </div>
  <div class="card-body">
    <div class="card-header whiskey-feed-card-header row">
      <h5 class="card-title average-rating-text">Name <span class="">{{name}}</span></h5>
      <h5 class="card-title average-rating-text">Average Rating <span class="">{{avgRating}}</span></h5>
    </div>

    {{!-- <div class="collapse" id="commentsList"> --}}
      {{!-- <div class="comment-section">
        <p class="comment-text">{{comments}}</p>
      </div> --}}


  </div>
</div>



