  <div class="row search-container">
    <div class="col-md-6">
      <h1 class="search-title">News</h1>
    </div>
  </div>

  <div id="carousel" class="carousel slide carousel-width" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="hover">
    <div class="carousel-inner">
    {{#each data.articles}}
      <div class="carousel-item {{#if @first }}active {{/if}} ">
        <img src="{{ urlToImage}}" class="d-block w-100" alt="whisky image">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{title}}</h5>
          <p>{{description}}.</p>
          <a href="{{url}}" target="_blank">{{url}} </a>
        </div>
      </div>
      {{/each}}
    </div>  
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> 
  </div>

  
